{% if not_found %}
    <H1>Not found!</H1>
{% else %}
    {% if with_id %}
        {% for state_id, state in states.items() %}
            <H1>State: {{ state.name }}</H1>
            <H3>Cities:</H3>
            <UL>
                {% for city in state.cities|sort(attribute='name') %}
                    <LI>{{ city.id }}: <B>{{ city.name }}</B></LI>
                {% endfor %}
            </UL>
        {% endfor %}
    {% else %}
        <H1>States</H1>
        <UL>
            {% for state_id, state in states.items()|sort(attribute='1.name') %}
                <LI>{{ state.id }}: <B>{{ state.name }}</B></LI>
            {% endfor %}
        </UL>
    {% endif %}
{% endif %}
